.sun-container{
    width: 90%;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin: 10px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.31);
    border-radius: 25px;
    background-color: hsla(257, 6%, 25%, 0.15);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.sunrise, .sunset{
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    column-gap: 5px;
}

.comp-img {
    max-height: 50px;
}

.sunrise-time, .sunset-time{
    font-weight: 400;
    text-align: center;
}

.sun-header{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.51);
}